html{
    background:linear-gradient(
        to top,
        #F5F5F5,
        #FFFFFF
    );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //should not repeat
    &::before{
        content:'';
        position:fixed;
        z-index:998;
        top:0;
        width:100%;
        height:64px;
        background:linear-gradient(
            to top,
            #FFFFFF00,
            #FFFFFF
        );
    }
}
@font-face {
    font-family: 'Neue Montreal';
    src: url('../Media/NeueMontreal.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 800;
}
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

body{
    // background-color: red;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  .scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
  }
:root{
    --transition6s: .6s cubic-bezier(0, 0.5, 0, 1) all;
    --transition3s: .3s cubic-bezier(0, 0.5, 0, 1) all;
}


@keyframes pfpvisit{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes pageload{
    0%{

        transform:translateY(32px);
        filter: blur(32px) brightness(150%);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        filter: blur(0px) brightness(100%);
        opacity:1;
    }
}

@keyframes pageunload{
    0%{
        transform:translateY(0px);
        filter: blur(0px) brightness(100%);
        opacity:1;
    }
    100%{

        transform:translateY(32px);
        filter: blur(32px) brightness(150%);
        opacity:0;
    }
}
@keyframes pfpdisappear{
    from{opacity:1}
    to{opacity:0}
}

//apply fonts
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Neue Montreal', sans-serif;
}

h1{
    font-size: 40px;
    line-height:150%;
    // font-weight:600; //semibold
    margin:0;
}
h2{
    font-size: 32px;
    font-weight:300; //semibold
    margin:0;
}
h5{
    font-size: 18px;
    font-weight:200; //semibold
    margin:0;
}
p{
    font-size: 14px;
    // font-weight:600;
    margin:0;
}

.nav_element_hover{
    transition: .3s cubic-bezier(0, 0.5, 0, 1) all;
    width: calc(80vw - 64px);
    height:auto;
    position:fixed;
    // margin:auto;
    padding: 8px 32px;
    top:16px;
    left:0;
    right:0;
    border-radius: 48px;
    filter: drop-shadow( 0 8px 24px #ffffff80 ); 
    backdrop-filter: blur(16px) brightness(120%);
    // filter: drop-shadow(7px 0px 20px #d7d7d7);
    background:#ffffff; //should be #fffffff2
    //background blur
    // &::before{
    //     content:"";
    //     width:100%;
    //     position:absolute;
    //     top:-32px;
    //     left:0;
    //     height:32px;
    //     // backdrop-filter: blur(2px);
    //     mask: linear-gradient(black, black, transparent);
    //     backdrop-filter: blur(8px);
    //     background-color:#ffffffc8;
    //     // z-index:-9999;
    // }
}
.prog_blur{
    width:100vw;
    position:absolute;
    top:-32px;
    left:-10vw;
    height:32px;
    background-color:#ffffffc8;
    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(8px);
}
nav{
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    top:16px;
    left:0;
    right:0;
    width:calc(100% - 20vw);
    z-index:999;
    transition: .3s cubic-bezier(0, 0.5, 0, 1) all;
    h5{
        font-size: 14px;
    }
    .nav_title{
        display:flex;
        gap:4px;
        flex-direction:column;
        height:auto;
        color:#8C8C8C;
    }
    .status{
        display:flex;
        gap:4px;
        align-items:flex-end;
        flex-direction:column;
        height:auto;
        color:#8C8C8C;
    }
    .nav_tabs{
        display:flex;
        position:relative;
        background-color:#F2F2F2;
        height:42px;
        gap:24px;
        align-items:center;
        padding: 8px 32px 8px 32px;
        border-radius:40px;
        box-shadow: inset 0px 3px 3px #E0E0E0, inset 0px 1px 1px #F7F7F7;
        .pos1{
            padding: 21px 32px;
            width:10px;
            position:absolute;
            left:8px;
            background-color:#ffffff;
            border-radius:32px;
            box-shadow: 
                0px 3px 4px -1px #5f5f5f11,
                inset 0px -2px 4px #FFFFFF,
                inset 0px -4px 8px #E3E3E3;
            z-index:0;
            transform:translateX(0);
            transition: .3s cubic-bezier(0, 0.5, 0, 1) all;
        }
        .pos2{
            padding: 21px 40px;
            width:12px;
            position:absolute;
            background-color:#ffffff;
            border-radius:32px;
            box-shadow: 
                0px 3px 4px -1px #5f5f5f11,
                inset 0px -2px 4px #FFFFFF,
                inset 0px -4px 8px #E3E3E3;
            z-index:0;
            transform:translateX(40%);
            transition: .3s cubic-bezier(0, 0.5, 0, 1) all;
        }
        .pos3{
            padding: 21px 30px;
            width:26px;
            position:absolute;
            background-color:#ffffff;
            border-radius:32px;
            box-shadow: 
                0px 3px 4px -1px #5f5f5f11,
                inset 0px -2px 4px #FFFFFF,
                inset 0px -4px 8px #E3E3E3;
            z-index:0;
            transform:translateX(calc(145%));
            transition: .3s cubic-bezier(0, 0.5, 0, 1) all;
        }
        a, p, Link{
            text-decoration:none;
            font-size: 14px;
            color:#1f1f1f;
            // cursor:pointer;
            z-index:1;
            span{
                padding-left:4px;
                color:#B2B2B2;
            }
            &:hover{
                .nav_tabs::before{
                    background:red;
                }
            }
        }
        // a{
        //     // color:#B3B3B3;
        // }
        .divider_vertical_small{
            // display:block;
            width:2px;
            height:24px;
            border-radius:8px;
            background-color: #E0E0E0;

        }

    }
}

.intro{
    display:flex;
    flex-direction:column;
    gap:24px;
    padding: 156px 10vw 64px 10vw;
    transition: var(--transition6s);
    position:relative;
    width:calc(100vw - 20vw);
    .bio_text_container{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        // gap:24px;

        .intro_name{
            transition: var(--transition3s);
            &:hover{
                color:#B3B3B3;
                // background: #f1f1f1;
                // padding:4px;
                // border-radius:8px;
                // margin:-4px;
            }
        }

        .extended_bio_text_container{
            margin:0 0 24px 0;
            overflow:hidden;
            opacity:1;
            // height:100%;
            max-height: 50vh;
            visibility:visible;
            display:block;
            transition: var(--transition6s);
            h1 span{
                // display:block;
                // height:32px;
                // width:32px;
                // display:flex;
                img{
                    width:32px;
                    height:32px;
                    border-radius:4px;
                    object-fit: cover;
                }
                img:nth-of-type(4), img:nth-of-type(6){
                    border-radius:6px;
                    box-shadow:0 2px 4px #80808030;
                }
            }
        }
    }
    .hidden{
        // height:0;
        max-height:0 !important;
        opacity:0 !important;
        transition: var(--transition6s);
        margin:0 !important;
    }

    .pfp{
        height:64px;
        width:64px;
        border-radius:24px;
        background: #000000;
        position:fixed;
        opacity:0;
        left:calc(5vw - 32px);
        transition: var(--transition6s);
        transform:translateY(0px);
        box-shadow: 0 8px 24px #80808030; 
    }
    .pfp_resume{
        height:96px;
        width:64px;
        border-radius:8px;
        background: #000000;
        position:fixed;
        opacity:0;
        left:calc(5vw - 32px);
        transition: var(--transition6s);
        box-shadow: 0 8px 24px #80808030; 
        // transform: translateY(-64px);
    }
    .pfp_anim{
        // animation: pfpvisit 2s cubic-bezier(0, 0.5, 0, 1);
        transition: var(--transition6s);
        opacity:1;
        transform: translateY(8px);
        // animation:.6s cubic-bezier(1, 0.5, 0, 1) 5s pfpdisappear;
    }

    .read_more{
        color:#B2B2B2;
        transition: var(--transition6s);
        // width:100%;
        &:hover{
            // cursor:pointer;
            transition: var(--transition6s);
            color:#1F1F1F;
        }
    }
    .cta_container{
        display:flex;
        flex-direction:column;
        gap:8px;
        .cta_buttons{
            display:flex;
            flex-direction:row;
            gap:16px;
        }
        p{
            padding-left:24px;
            color:#B3B3B3;
        }
    }
}

.work, .work2{
    padding: 64px 10vw;
    width:calc(100vw - 20vw);
    // display: flex;
    // flex-direction:row;
    // justify-content: center; //only use this for smaller screen sizes
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 64px;
    align-items: center;
}
.work2{
    padding: 64px 10vw;
    width:80vw;
    display: flex;
    flex-direction:row;
    justify-content: center; //only use this for smaller screen sizes
    flex-wrap: wrap;
    gap:128px;
    justify-content: center;
    .dump_link{
        display:flex;
        flex-direction:column;
        gap:16px;
        align-items:center;
        min-height:320px;
        transition:var(--transition6s);
        // cursor:pointer;
        // margin-right:auto;
        color:#B2B2B2;

        .title_sm{
            font-size:18px;
        }

        .dump_thumbnail_outer {
            background:#F5F5F5;
            min-height: calc(320px - 48px);
            max-height:480px;
            border-radius:32px;
            border:2px solid #FFFFFF;
            box-shadow: 0 2px 8px #80808010,
                        0 12px 24px #80808010;
            width:calc(320px - 48px);
            padding:24px;
            position:relative;
            .title_lg{
                position:absolute;
                text-wrap:pretty;
                z-index:99;
                padding:16px;
                max-width:calc(272px - 32px);
                max-height:240px;
                transition:var(--transition3s);
                bottom:0px;
                h2{
                    transform:translateY(-16px);
                    opacity:0;
                    filter: blur(8px);
                }
            }
            .dump_thumbnail_inner {
                display: grid;
                grid-template-columns:1fr 1fr;
                gap:24px;
                min-height: calc(320px - 48px);
                border-radius:8px;
                transition:var(--transition6s);
                img{
                    transition:var(--transition6s);
                    border-radius:8px;
                    background:white;
                    box-shadow: 0 2px 8px #80808010,
                    0 12px 24px #80808010;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    opacity:1;
                    // width:124px;
                    // height:124px;
                }
                img:first-child{
                    transform:rotate(-3deg) scale(1.05);
                }
            }
        }

        &:hover{
            transition:var(--transition6s);
            .dump_thumbnail_inner {
                background:#FFFFFF;
                img{
                    box-shadow: 0 0px 0px #80808000;
                    opacity:0;
                }
                img:first-child{
                    transform:rotate(0deg) scale(1);
                }
            }
            
            .title_lg{
                h2{
                    display:block;
                    opacity:1;
                    filter: blur(0px);
                    bottom:16px;
                    transform:translateY(-32px);
                    transition:var(--transition3s);
                }
            }
        }
    }
}

.stickynote{
    background:#FFD89E;
    transition:var(--transition6s);
    min-height:320px;
    width:320px;
    // margin-left:auto;
    border-radius:32px;
    display:flex;
    transform: rotate(0deg);
    box-shadow: 0 2px 8px #80808010,
    0 12px 24px #80808010;
    user-select: none;
    div{
        background-color:#FFE2A8;
        height:304px;
        width:304px;
        border-radius:32px;
        margin:auto auto;
        overflow-y:hidden;
        transform: rotate(5deg);
        transition:var(--transition6s);
        box-shadow: 0 2px 8px #80808010,
        0 12px 24px #80808010;
        p{
            padding:16px;
            font-size:18px;
            font-family: "Chilanka", cursive;
            width:240px;
            line-height:200%;
            li{
                font-size:18px;
                width:100%;
            }

        }
    }
}

.writing{
    display:flex;
    flex-direction:column;
    gap:64px;
    padding: 64px 10vw;
    transition: var(--transition3s);
    section{
        display:flex;
        flex-direction:column;
        gap:16px;
        width: 100%;
        a{
            display:flex;
            gap:16px;
            text-decoration:none;
            color:#1f1f1f;
            align-items:center;
            font-size:18px;
            transition: var(--transition3s);
            &:hover{
                color:#B3B3B3;
                transition: var(--transition3s);
            }
            span{
                font-size:18px;
                color:#b3b3b3;
            }
        }
        
    }
    .work_history{
        p{
            display:flex;
            gap:16px;
            text-decoration:none;
            color:#1f1f1f;
            align-items:center;
            font-size:18px;
            transition: var(--transition3s);
            span{
                font-size:18px;
                color:#b3b3b3;
            }
        }
    }
    .writing_title{
        font-size:18px;
        color:#b3b3b3 !important;
    }
}

footer{
    width:100vw;
    padding-top:128px;
    .footer_info{
        display:flex;
        flex-direction:row;
        align-items:flex-end;
        justify-content:space-between;  
        // position:relative;
        padding: 0 10vw 32px 10vw;
        .activity{
            display:flex;
            flex-direction:column;
            gap:32px;
            p{
                span{
                    color:#B3B3B3;
                }
                display:flex;
                gap:16px;
            }
        }
        .credits{
            // max-width:320px;
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:32px;
            // height:100%;
            position: absolute;
            left: 0;
            right: 0;
            margin:auto;
            z-index:-999;
            p{
                color:#B3B3B3;
            }
            .credits_video{
                width:240px;
                height:128px;
                background:#000000;
                object-fit:cover;
                border-radius:8px;
                opacity:0;
                transition: var(--transition6s);
            }
            .credits_video_reveal{
                visibility:visible;
                opacity:1;
                transition: var(--transition6s);
            }
        }
        .links{
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            gap:8px;
            font-size:14px;
            a{
                color:#1F1F1F;
                text-decoration:none;
                &:hover{
                    color:#B3B3B3;
                    // cursor:pointer;
                }
            }
            p{
                padding-top:24px;
                color:#B3B3B3;
            }
        }
    }

    .email_lg{
        cursor:url('data:image/svg+xml,<svg width="77" height="53" viewBox="0 0 77 53" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_733_96)"><path d="M5.09624 28.4136L4.99248 5.11029C4.98614 3.68567 6.53072 2.79391 7.7613 3.5117L28.3635 15.529C29.1139 15.9668 29.4124 16.8011 29.2497 17.6634C29.0861 18.5308 28.4831 19.2566 27.6033 19.4452C23.8881 20.2415 19.6128 21.4373 16.6435 23.1516C13.9701 24.6951 11.2913 27.2715 9.08023 29.7315C8.46572 30.4153 7.48243 30.591 6.58806 30.2885C5.69901 29.9878 5.10015 29.2901 5.09624 28.4136Z" fill="%23B89EFF"/><path d="M5.09624 28.4136L4.99248 5.11029C4.98614 3.68567 6.53072 2.79391 7.7613 3.5117L28.3635 15.529C29.1139 15.9668 29.4124 16.8011 29.2497 17.6634C29.0861 18.5308 28.4831 19.2566 27.6033 19.4452C23.8881 20.2415 19.6128 21.4373 16.6435 23.1516C13.9701 24.6951 11.2913 27.2715 9.08023 29.7315C8.46572 30.4153 7.48243 30.591 6.58806 30.2885C5.69901 29.9878 5.10015 29.2901 5.09624 28.4136Z" fill="url(%23paint0_linear_733_96)"/><path d="M5.09624 28.4136L4.99248 5.11029C4.98614 3.68567 6.53072 2.79391 7.7613 3.5117L28.3635 15.529C29.1139 15.9668 29.4124 16.8011 29.2497 17.6634C29.0861 18.5308 28.4831 19.2566 27.6033 19.4452C23.8881 20.2415 19.6128 21.4373 16.6435 23.1516C13.9701 24.6951 11.2913 27.2715 9.08023 29.7315C8.46572 30.4153 7.48243 30.591 6.58806 30.2885C5.69901 29.9878 5.10015 29.2901 5.09624 28.4136Z" stroke="url(%23paint1_linear_733_96)" stroke-width="1.84116"/><path d="M13.0748 25.1209L5.90728 5.34173L6.06809 28.6348C6.01193 28.8444 6.0714 29.377 6.75853 29.8306C7.44566 30.2843 8.63932 29.0991 9.15026 28.4498L13.0748 25.1209Z" fill="%23B89EFF"/><path d="M13.0748 25.1209L5.90728 5.34173L6.06809 28.6348C6.01193 28.8444 6.0714 29.377 6.75853 29.8306C7.44566 30.2843 8.63932 29.0991 9.15026 28.4498L13.0748 25.1209Z" fill="url(%23paint2_linear_733_96)"/><path d="M5.69437 8.69059L6.01949 27.1616C6.05001 28.8958 8.32863 29.6986 9.51769 28.4358C11.5283 26.3006 14.1583 23.8087 16.6414 22.3751C18.6913 21.1916 19.3636 20.5929 19.4459 20.2979C19.6326 19.629 18.2186 19.7247 17.7995 19.1709L9.00342 7.54718C7.92822 6.12633 5.66302 6.90905 5.69437 8.69059Z" fill="url(%23paint3_linear_733_96)" fill-opacity="0.1"/><g filter="url(%23filter1_f_733_96)"><path d="M6.77639 5.08643L6.97969 12.2772L7.14335 14.8401L10.2286 11.0658L20.3268 13.7395L6.77639 5.08643Z" fill="%23F5D6FF"/></g><g filter="url(%23filter2_f_733_96)"><path d="M7.50196 5.73111L7.61202 9.07801L7.69346 10.2712L8.97873 8.28894L13.6852 9.60218L7.50196 5.73111Z" fill="white"/></g><g opacity="0.4" filter="url(%23filter3_f_733_96)"><path d="M22.5612 16.0243L28.1133 19.1968C19.4547 21.2654 15.0734 23.6936 8.35063 30.0753L8.79439 27.1616L22.5612 16.0243Z" fill="url(%23paint4_linear_733_96)"/></g></g><g filter="url(%23filter4_d_733_96)"><rect x="16" y="25" width="53" height="18" rx="9" fill="%23B89EFF" shape-rendering="crispEdges"/><rect x="16" y="25" width="53" height="18" rx="9" fill="url(%23paint5_linear_733_96)" shape-rendering="crispEdges"/><rect x="16.9206" y="25.9206" width="51.1588" height="16.1588" rx="8.07942" stroke="url(%23paint6_linear_733_96)" stroke-width="1.84116" shape-rendering="crispEdges"/><path d="M27.248 34.32C27.1733 33.8453 26.8933 33.608 26.408 33.608C26.2267 33.608 26.0747 33.6507 25.952 33.736C25.8293 33.816 25.728 33.9227 25.648 34.056C25.5733 34.184 25.52 34.328 25.488 34.488C25.456 34.6427 25.44 34.7973 25.44 34.952C25.44 35.1013 25.456 35.2533 25.488 35.408C25.52 35.5627 25.5707 35.704 25.64 35.832C25.7147 35.9547 25.8133 36.056 25.936 36.136C26.0587 36.216 26.208 36.256 26.384 36.256C26.656 36.256 26.864 36.1813 27.008 36.032C27.1573 35.8773 27.2507 35.672 27.288 35.416H28.384C28.3093 35.9653 28.096 36.384 27.744 36.672C27.392 36.96 26.9413 37.104 26.392 37.104C26.0827 37.104 25.7973 37.0533 25.536 36.952C25.28 36.8453 25.0613 36.6987 24.88 36.512C24.6987 36.3253 24.5573 36.104 24.456 35.848C24.3547 35.5867 24.304 35.3013 24.304 34.992C24.304 34.672 24.3493 34.376 24.44 34.104C24.536 33.8267 24.6747 33.5893 24.856 33.392C25.0373 33.1893 25.2587 33.032 25.52 32.92C25.7813 32.808 26.08 32.752 26.416 32.752C26.6613 32.752 26.896 32.784 27.12 32.848C27.3493 32.912 27.552 33.0107 27.728 33.144C27.9093 33.272 28.056 33.4347 28.168 33.632C28.28 33.824 28.344 34.0533 28.36 34.32H27.248ZM30.0338 34.936C30.0338 35.1013 30.0498 35.264 30.0818 35.424C30.1138 35.5787 30.1671 35.72 30.2418 35.848C30.3218 35.9707 30.4258 36.0693 30.5538 36.144C30.6818 36.2187 30.8418 36.256 31.0338 36.256C31.2258 36.256 31.3858 36.2187 31.5138 36.144C31.6471 36.0693 31.7511 35.9707 31.8258 35.848C31.9058 35.72 31.9618 35.5787 31.9938 35.424C32.0258 35.264 32.0418 35.1013 32.0418 34.936C32.0418 34.7707 32.0258 34.608 31.9938 34.448C31.9618 34.288 31.9058 34.1467 31.8258 34.024C31.7511 33.9013 31.6471 33.8027 31.5138 33.728C31.3858 33.648 31.2258 33.608 31.0338 33.608C30.8418 33.608 30.6818 33.648 30.5538 33.728C30.4258 33.8027 30.3218 33.9013 30.2418 34.024C30.1671 34.1467 30.1138 34.288 30.0818 34.448C30.0498 34.608 30.0338 34.7707 30.0338 34.936ZM28.8978 34.936C28.8978 34.6053 28.9484 34.3067 29.0498 34.04C29.1511 33.768 29.2951 33.5387 29.4818 33.352C29.6684 33.16 29.8924 33.0133 30.1538 32.912C30.4151 32.8053 30.7084 32.752 31.0338 32.752C31.3591 32.752 31.6524 32.8053 31.9138 32.912C32.1804 33.0133 32.4071 33.16 32.5938 33.352C32.7804 33.5387 32.9244 33.768 33.0258 34.04C33.1271 34.3067 33.1778 34.6053 33.1778 34.936C33.1778 35.2667 33.1271 35.5653 33.0258 35.832C32.9244 36.0987 32.7804 36.328 32.5938 36.52C32.4071 36.7067 32.1804 36.8507 31.9138 36.952C31.6524 37.0533 31.3591 37.104 31.0338 37.104C30.7084 37.104 30.4151 37.0533 30.1538 36.952C29.8924 36.8507 29.6684 36.7067 29.4818 36.52C29.2951 36.328 29.1511 36.0987 29.0498 35.832C28.9484 35.5653 28.8978 35.2667 28.8978 34.936ZM36.0044 36.256C36.191 36.256 36.3457 36.2187 36.4684 36.144C36.5964 36.0693 36.6977 35.9733 36.7724 35.856C36.8524 35.7333 36.9084 35.592 36.9404 35.432C36.9724 35.272 36.9884 35.1093 36.9884 34.944C36.9884 34.7787 36.9697 34.616 36.9324 34.456C36.9004 34.296 36.8444 34.1547 36.7644 34.032C36.6844 33.904 36.5804 33.8027 36.4524 33.728C36.3297 33.648 36.1777 33.608 35.9964 33.608C35.8097 33.608 35.6524 33.648 35.5244 33.728C35.4017 33.8027 35.3004 33.9013 35.2204 34.024C35.1457 34.1467 35.0924 34.288 35.0604 34.448C35.0284 34.608 35.0124 34.7733 35.0124 34.944C35.0124 35.1093 35.0284 35.272 35.0604 35.432C35.0977 35.592 35.1537 35.7333 35.2284 35.856C35.3084 35.9733 35.4124 36.0693 35.5404 36.144C35.6684 36.2187 35.823 36.256 36.0044 36.256ZM33.9164 32.864H34.9964V33.392H35.0124C35.151 33.168 35.327 33.0053 35.5404 32.904C35.7537 32.8027 35.9884 32.752 36.2444 32.752C36.5697 32.752 36.8497 32.8133 37.0844 32.936C37.319 33.0587 37.5137 33.2213 37.6684 33.424C37.823 33.6267 37.9377 33.864 38.0124 34.136C38.087 34.4027 38.1244 34.6827 38.1244 34.976C38.1244 35.2533 38.087 35.52 38.0124 35.776C37.9377 36.032 37.823 36.2587 37.6684 36.456C37.519 36.6533 37.3297 36.8107 37.1004 36.928C36.8764 37.0453 36.6124 37.104 36.3084 37.104C36.0524 37.104 35.815 37.0533 35.5964 36.952C35.383 36.8453 35.207 36.6907 35.0684 36.488H35.0524V38.448H33.9164V32.864ZM40.847 37.512C40.7243 37.848 40.5537 38.088 40.335 38.232C40.1163 38.376 39.8123 38.448 39.423 38.448C39.3057 38.448 39.1883 38.4427 39.071 38.432C38.959 38.4267 38.8443 38.4187 38.727 38.408V37.472C38.8337 37.4827 38.943 37.4933 39.055 37.504C39.167 37.5147 39.279 37.5173 39.391 37.512C39.5403 37.496 39.6497 37.4373 39.719 37.336C39.7937 37.2347 39.831 37.1227 39.831 37C39.831 36.9093 39.815 36.824 39.783 36.744L38.335 32.864H39.543L40.479 35.696H40.495L41.399 32.864H42.575L40.847 37.512ZM45.214 32.864H46.286V33.424H46.302C46.4513 33.2107 46.63 33.0453 46.838 32.928C47.0513 32.8107 47.294 32.752 47.566 32.752C47.8273 32.752 48.0647 32.8027 48.278 32.904C48.4967 33.0053 48.662 33.184 48.774 33.44C48.8967 33.2587 49.062 33.0987 49.27 32.96C49.4833 32.8213 49.734 32.752 50.022 32.752C50.2407 32.752 50.4433 32.7787 50.63 32.832C50.8167 32.8853 50.9767 32.9707 51.11 33.088C51.2433 33.2053 51.3473 33.36 51.422 33.552C51.4967 33.7387 51.534 33.9653 51.534 34.232V37H50.398V34.656C50.398 34.5173 50.3927 34.3867 50.382 34.264C50.3713 34.1413 50.342 34.0347 50.294 33.944C50.246 33.8533 50.174 33.7813 50.078 33.728C49.9873 33.6747 49.862 33.648 49.702 33.648C49.542 33.648 49.4113 33.68 49.31 33.744C49.214 33.8027 49.1367 33.8827 49.078 33.984C49.0247 34.08 48.9873 34.192 48.966 34.32C48.95 34.4427 48.942 34.568 48.942 34.696V37H47.806V34.68C47.806 34.5573 47.8033 34.4373 47.798 34.32C47.7927 34.1973 47.7687 34.0853 47.726 33.984C47.6887 33.8827 47.622 33.8027 47.526 33.744C47.4353 33.68 47.2993 33.648 47.118 33.648C47.0647 33.648 46.9927 33.6613 46.902 33.688C46.8167 33.7093 46.7313 33.7547 46.646 33.824C46.566 33.888 46.4967 33.984 46.438 34.112C46.3793 34.2347 46.35 34.3973 46.35 34.6V37H45.214V32.864ZM52.384 34.136C52.4 33.8693 52.4667 33.648 52.584 33.472C52.7013 33.296 52.8507 33.1547 53.032 33.048C53.2133 32.9413 53.416 32.8667 53.64 32.824C53.8693 32.776 54.0987 32.752 54.328 32.752C54.536 32.752 54.7467 32.768 54.96 32.8C55.1733 32.8267 55.368 32.8827 55.544 32.968C55.72 33.0533 55.864 33.1733 55.976 33.328C56.088 33.4773 56.144 33.6773 56.144 33.928V36.08C56.144 36.2667 56.1547 36.4453 56.176 36.616C56.1973 36.7867 56.2347 36.9147 56.288 37H55.136C55.1147 36.936 55.096 36.872 55.08 36.808C55.0693 36.7387 55.0613 36.6693 55.056 36.6C54.8747 36.7867 54.6613 36.9173 54.416 36.992C54.1707 37.0667 53.92 37.104 53.664 37.104C53.4667 37.104 53.2827 37.08 53.112 37.032C52.9413 36.984 52.792 36.9093 52.664 36.808C52.536 36.7067 52.4347 36.5787 52.36 36.424C52.2907 36.2693 52.256 36.0853 52.256 35.872C52.256 35.6373 52.296 35.4453 52.376 35.296C52.4613 35.1413 52.568 35.0187 52.696 34.928C52.8293 34.8373 52.9787 34.7707 53.144 34.728C53.3147 34.68 53.4853 34.6427 53.656 34.616C53.8267 34.5893 53.9947 34.568 54.16 34.552C54.3253 34.536 54.472 34.512 54.6 34.48C54.728 34.448 54.8293 34.4027 54.904 34.344C54.9787 34.28 55.0133 34.1893 55.008 34.072C55.008 33.9493 54.9867 33.8533 54.944 33.784C54.9067 33.7093 54.8533 33.6533 54.784 33.616C54.72 33.5733 54.6427 33.5467 54.552 33.536C54.4667 33.52 54.3733 33.512 54.272 33.512C54.048 33.512 53.872 33.56 53.744 33.656C53.616 33.752 53.5413 33.912 53.52 34.136H52.384ZM55.008 34.976C54.96 35.0187 54.8987 35.0533 54.824 35.08C54.7547 35.1013 54.6773 35.12 54.592 35.136C54.512 35.152 54.4267 35.1653 54.336 35.176C54.2453 35.1867 54.1547 35.2 54.064 35.216C53.9787 35.232 53.8933 35.2533 53.808 35.28C53.728 35.3067 53.656 35.344 53.592 35.392C53.5333 35.4347 53.4853 35.4907 53.448 35.56C53.4107 35.6293 53.392 35.7173 53.392 35.824C53.392 35.9253 53.4107 36.0107 53.448 36.08C53.4853 36.1493 53.536 36.2053 53.6 36.248C53.664 36.2853 53.7387 36.312 53.824 36.328C53.9093 36.344 53.9973 36.352 54.088 36.352C54.312 36.352 54.4853 36.3147 54.608 36.24C54.7307 36.1653 54.8213 36.0773 54.88 35.976C54.9387 35.8693 54.9733 35.7627 54.984 35.656C55 35.5493 55.008 35.464 55.008 35.4V34.976ZM58.1938 32.224H57.0578V31.288H58.1938V32.224ZM57.0578 32.864H58.1938V37H57.0578V32.864ZM59.1203 31.288H60.2563V37H59.1203V31.288Z" fill="white"/></g><defs><filter id="filter0_d_733_96" x="0.38799" y="0.49502" width="37.1876" height="40.0615" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="1.84116" dy="3.68232"/><feGaussianBlur stdDeviation="2.76174"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_733_96"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_733_96" result="shape"/></filter><filter id="filter1_f_733_96" x="4.93618" y="3.24526" width="17.2331" height="13.436" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="0.92058" result="effect1_foregroundBlur_733_96"/></filter><filter id="filter2_f_733_96" x="5.66275" y="3.88992" width="9.86201" height="8.22236" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="0.92058" result="effect1_foregroundBlur_733_96"/></filter><filter id="filter3_f_733_96" x="6.5104" y="14.1831" width="23.444" height="17.7333" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="0.92058" result="effect1_foregroundBlur_733_96"/></filter><filter id="filter4_d_733_96" x="12.3177" y="23.1588" width="64.047" height="29.047" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="1.84116" dy="3.68232"/><feGaussianBlur stdDeviation="2.76174"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_733_96"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_733_96" result="shape"/></filter><linearGradient id="paint0_linear_733_96" x1="7.27242" y1="5.8621" x2="16.9385" y2="22.6043" gradientUnits="userSpaceOnUse"><stop stop-color="%23A585FF" stop-opacity="0"/><stop offset="1" stop-color="%238961F4"/></linearGradient><linearGradient id="paint1_linear_733_96" x1="10.7367" y1="1.73601" x2="11.4029" y2="23.1427" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="0.235" stop-color="%23E6C7FF"/><stop offset="0.56" stop-color="%23E6C7FF"/><stop offset="1" stop-color="%239070EB"/></linearGradient><linearGradient id="paint2_linear_733_96" x1="3.04048" y1="12.0869" x2="9.65257" y2="23.5393" gradientUnits="userSpaceOnUse"><stop stop-color="%239EE5FF" stop-opacity="0.2"/><stop offset="0.355" stop-color="%23A585FF" stop-opacity="0"/><stop offset="1" stop-color="%23906BF5"/></linearGradient><linearGradient id="paint3_linear_733_96" x1="5.33638" y1="1.84672" x2="18.741" y2="25.0643" gradientUnits="userSpaceOnUse"><stop stop-color="%2301F7FF" stop-opacity="0"/><stop offset="1" stop-color="%2301F7FF"/></linearGradient><linearGradient id="paint4_linear_733_96" x1="26.7324" y1="16.8051" x2="7.1999" y2="28.0822" gradientUnits="userSpaceOnUse"><stop stop-color="%232E127D"/><stop offset="1" stop-color="%235320E3"/></linearGradient><linearGradient id="paint5_linear_733_96" x1="42.5" y1="28.6" x2="42.5" y2="39.4" gradientUnits="userSpaceOnUse"><stop stop-color="%23A585FF" stop-opacity="0"/><stop offset="1" stop-color="%238961F4"/></linearGradient><linearGradient id="paint6_linear_733_96" x1="49.7875" y1="27.5714" x2="47.0771" y2="40.5853" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="0.235" stop-color="%23E6C7FF"/><stop offset="0.56" stop-color="%23E6C7FF"/><stop offset="1" stop-color="%239070EB"/></linearGradient></defs></svg>'), none;
        width:100vw;
        height:auto;
        overflow:hidden;
        svg{
            margin-bottom:-40px;
        }

        &:hover{
            path{
                fill:#000000;
                transition: var(--transition6s);
            }
        }
    }
}


.nowplaying{
    display:flex;
    flex-direction:row;
    gap:16px;
    align-items:center;
    video, img{
        width: 56px;
        height:56px;
        border-radius:56px;
    }
    div{
        display:flex;
        flex-direction:column;
        gap:8px;
        p:nth-of-type(1){
            color:#B3B3B3;
        }
    }
}


//===========================
.casestudy_info{
    display: flex;
    flex-direction:column;
    gap:24px;
    h1{
        max-width:700px;
        text-wrap: pretty;
    }
    .casestudy_info_metadata{
        display: flex;
        flex-direction:row;
        gap:64px;
        &>div{
            display:flex;
            flex-direction:column;
            gap:4px;
        }
    }
}

.casestudy_imglarge{
    width:80vw;
    height:calc(80vw / (16/9) + 16px);
    overflow:hidden;
    border-radius:32px;
    img{
        width:100%;
        height:100%;
        background: #000000; //temp
        object-fit: cover;
    }
    // p{
    //     text-align: center;
    //     position: absolute;
    //     color: #8C8C8C;
    //     margin: auto;
    //     padding-top: 4px;
    //     width: inherit;
    // }
}

.casestudy_bodytext{
    max-width:700px;
    line-height: 180%;
    margin:auto;
    font-size: 18px;
    color:#1f1f1f;
    // padding: 64px 0;
    a{
        color:#B2B2B2;
        text-decoration:none;
        transition: var(--transition3s);
        &:hover{
            color:#1F1F1F;
            transition: var(--transition3s);
        }
    }
    ul{
        margin:8px;
    }
}
.casestudy_billboardtext{
    width:700px;
    // line-height: 120%;
    margin:auto;
    font-size: 40px;
    text-align: left;
}
.casestudy_billboardtext_link{
    color:#B2B2B2;
    transition: var(--transition3s);
    &:hover{
        color:#1F1F1F;
        transition: var(--transition3s);
    }
}
.casestudy_subheader{
    width:700px;
    font-weight: 800;
    // line-height: 120%;
    margin:auto;
    margin-bottom:8px;
    font-size: 24px;
    text-align: left;
    text-shadow: .25px 0px 0px black;
    letter-spacing: .25px;
}
.casestudy section {
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items:flex-start;
    text-align: left;
    max-width:700px;
    margin:auto;
    p{
        padding:0;
        margin:0;
    }
    & > section h1, h2, h3, h4, h5, h6, p{
        margin:0;
    }
    & > section{
        gap:8px;
    }
    img{
        // position:fixed;
    }
}
.casestudy iframe{
    width:100%;
    height:60vh;
}

.casestudy_imgsmall{
    width:100%;
    display:flex;
    gap:32px;
    div{
        // width:100%;
        flex:320px;
        height:calc(80vw/2 - 16px);
        border-radius:32px;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
            background: #000000; //temp
            object-fit: cover;
        }
    }
}

.back-to-top{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    h1{
        max-width:35vw;
    }
    a{
        text-decoration:none;
        color:#BEBEBE;
        text-wrap: pretty;
        transition: var(--transition3s);
        &:hover{
            color:#1f1f1f;
            transition: var(--transition3s);
        }
    }
}

.casestudy_thankyou{
    margin:auto;
    padding:128px 0;
    font-size:18px;
    font-weight:200;
}

.progress_bar{
    width:100vw;
    height:8px;
    background-color: #ffffff;
    position:fixed;
    margin:auto;
    bottom:0;
    left:0;
    z-index:999;
    mix-blend-mode: difference;
}

.progress_bar::after{
    content:'';
    width:40px;
    height:40px;
    border-radius:16px;
    background-color:red;
    mix-blend-mode: difference;
    // margin: auto 0px;
    z-index:1000;
    // position:absolute;
    // right:0;
}

//==========================
.dump, .casestudy{
    display:flex;
    flex-direction: column;
    padding:156px 10vw 256px 10vw;
    gap:48px;
}
.dump_items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 64px;
    align-items: center;
    justify-content: flex-start;

    // margin-top: 2rem;
    // list-style: none;
    // padding: 0;
    // column-count: 3;
    // counter-reset:count;
    // column-gap: 32px;
    // row-gap:32px;
    // width: 100%;
    // margin-bottom: 15rem;
    // overflow: hidden;
    // display: block;

    // &>div{
        // margin-bottom:32px;
        // flex:320px;
    // }
    // .workitem_card{
    //     max-width: 400px;
    // }

}
// .dump_test{
//     display:flex;
//     flex-direction:column;
//     align-items:stretch;
//     row-gap:64px;
//     column-gap: 32px;
//     flex-wrap:wrap;
//     height:200vw;
//     // height:auto;
//     &>div{
//         min-width:320px;
//         height:100%;
//         // flex:320px;
//         flex-grow:1;
//         .cover_container{
//             height:100%;
//         }
//     }
// }

.dump_iframe{
    width:100%;
    height:100%;
}

@keyframes glide-in {
    from { transform: translateY(100%) }
    to { transform: translateY(0%) }
}
@keyframes opacity {
    from { opacity: 0 }
    to { opacity: 1 }
}

.page_404{
    height:100vh;
    display:flex;
    flex-direction:column;
    gap:16px;
    margin:auto;
    padding:0 10vw;
    align-items:center;
    justify-content: center;
    &::before{
        content:'';
        width:100%;
        top:0;
        height:128px;
        background:white;;
        position:fixed;
        z-index:9999;
    }
    p:nth-child(1){
        opacity:0;
        animation: 1s cubic-bezier(.5, 0.5, 0, 1) .6s forwards opacity;
    }
    .page_404_container{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        margin: 0 auto;
        gap: 24px;
        // justify-content: space-between;
    }
    span{
        overflow:hidden;
        height: 240px;
    }
    h1{
        font-size:256px;
        line-height:100%;
        transform: translateY(100%);
        animation: .6s cubic-bezier(1, 0.5, 0, 1) forwards glide-in;
    }
    span:nth-of-type(2) h1{
        animation: 1.2s cubic-bezier(.5, 0.5, 0, 1) .0625s forwards glide-in;
        transform: translateY(100%);
    }
    span ~ div{
        width:160px;
        // font-weight:300;
        margin:auto 0;
        height:200px;
        background-color: #000000;
        overflow: hidden;
        border-radius:24px;
    }
    button{
        opacity:0;
        animation: 1s cubic-bezier(.5, 0.5, 0, 1) .6s forwards opacity;
    }
    img{
        // display:none;
        // object-fit:contain;
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter:invert(1);
        pointer-events: none;
    }
}
.credits_404{
    position:absolute;
    left:16px;
    bottom:16px;
    animation: .6;
    p{
        text-transform: uppercase;
        max-width:40vw;
        color:#BEBEBE;
    }
}

@media (max-width: 425px){
    nav{
        // flex-direction:row-reverse;
        width: calc(100vw - 48px);
        // margin:0;
        .nav_title{
            display:none;
        }
        .status{
            display:none;
        }
        .nav_tabs{
            width:100%;
            box-shadow: none;
        }
    }
    .nav_element_hover{
        width: 80vw;
        padding: 0;
    }
    .intro, .work, .work2, .writing, footer{
        // background:Red;
        padding:0 24px;
        width:100%;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .intro{
        padding-top: 30vh;
        padding-bottom: 0px;
        .bio_text_container{
            gap:4px;
            .extended_bio_text_container{
                margin:0 !important;
                max-height: 150vh;
            }
        }
        .intro_name{
            pointer-events: none;
        }
        .pfp{
            display:block;
            opacity:1;
            position:static;
        }
    }
    .cta_container{
        .cta_buttons{
            flex-direction:row;
            flex-wrap: wrap;
            button:nth-of-type(1){
                flex-basis:100%;
                height:56px;
            }
        }
        p{
            display:none;
        }
    }
    .pfp, .pfp_resume{
        display:none;
    }
    .work, .work2{
        // grid-row-gap: 32px;
        grid-template-columns: 1fr;
        .stickynote, .dump_card{
            margin: 0;
        }
    }
    .dump{
        padding: 156px 24px 128px 24px;
        // width:100vw;
        .dump_items{
            grid-template-columns: 1fr;
            grid-gap: 32px;
        }
        .dump_card{
            width:100%;
            max-width: none;
        }

    }
    .dump_thumbnail_outer{
        width: calc(100vw - 64px) !important;
        height: calc(100vw - 64px);
        .dump_thumbnail_inner{
            height:100%;
        }
    }
    .writing{
        // .writing_title{

        // }
        gap:64px;
        
        a{
            align-items: flex-start !important;
        }
        .literature{
            width:100%;
            a{
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
        .work_history{
            p{
                flex-direction: row-reverse;
                justify-content: space-between;
                span{
                    text-wrap:nowrap;
                }
            }
            .writing_title{
                align-self:flex-start;
            }
        }
    }
    .footer_info{
        gap:64px;
        flex-direction:column !important;
        align-items:flex-start !important;
        padding:0 !important;
    }
    .credits{
        display:none !important;
    }
    // footer{
    //     // padding-bottom:0 !important;
    // }
    .email_lg{
        overflow: visible !important;
        position:absolute;
        left:0;
        width: calc(100vw + 48px) !important;
        padding-top:8px;
    }

    .casestudy{
        padding: 128px 24px 128px 24px;
        gap:32px;
        .casestudy_info_metadata{
            flex-direction:column;
            gap:16px;
        }
        .casestudy_imglarge{
            width:100%;
            border-radius: 16px;
        }
        .casestudy_imgsmall{
            gap:16px;
            div{
                border-radius: 16px;
            }
        }
        .casestudy_bodytext {
            padding:0;
        }
        .casestudy_thankyou {
            padding:0 !important;
        }
        .back-to-top h1{
            font-size:24px;
            max-width:50%;
        }
        .casestudy_billboardtext{
            width:100%;
            font-size:32px;
        }
        .iconbtn{
            position: relative;
            align-self:flex-start;
            margin:-8px;
            display: none;
        }
        .progress_bar{
            top:0;
            bottom:unset;
        }
        section{
            gap:8px;
            .casestudy_subheader{
                width:100%;
            }
            width:100%;
        }
        .casestudy_subheader{
            width:100%;
            line-height:150%;
        }
        .back-to-top{
            flex-direction:column;
            gap:32px;
            h1{
                max-width:none;
                width:100%;
            }
        }
        iframe{
            width:100%;
            height:80vh;
        }
    }
    .casestudy_thankyou {
        padding:0;
    }

    .page_404{
        height:100vh;
        // width:100vw;
        h1{
            font-size:128px;
        }
        span{
            height:100%;
        }
        span ~ div {
            height:100px;
            width:80px;
        }
        .page_404_container{
            margin:0;
            // transform:scale(.5)
        }
        .credits_404 p{
            width:100%;
            max-width:none;
        }
    }
    h1{
        font-size: 32px;
        line-height:150%;
        // font-weight:600; //semibold
        margin:0;
    }
    h2{
        font-size: 24px;
        margin:0;
    }
    h5{
        font-size: 16px;
        margin:0;
    }
    p{
        font-size: 14px;
        margin:0;
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    nav{
        // flex-direction:row-reverse;
        width: calc(100vw - 48px);
        // margin:0;
        .nav_title{
            display:none;
        }
        .status{
            display:none;
        }
        .nav_tabs{
            width:100%;
            box-shadow: none;
        }
    }
    .nav_element_hover{
        width: 80vw;
        padding: 0;
    }
    .intro{
        padding-top: 128px !important;
        padding-bottom: 0px;
            .bio_text_container{
                gap:4px;
                .extended_bio_text_container{
                    margin:0 !important;
                    max-height:90vh;
                }
            }
    }
    .intro, .work, .work2, .writing, footer{
        // background:Red;
        padding:0 5vw;
        width:100%;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .literature{
        width:fit-content;
        a{
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    .work_history{
        p{
            flex-direction: row-reverse;
            justify-content: space-between;
            span{
                text-wrap:nowrap;
            }
        }
        .writing_title{
            align-self:flex-start;
        }
    }
    // .work, .work2{
    //     // gap: 32px;
    // }
    .stickynote, .dump_link{
        margin: 0 !important;
    }
    .footer_info{
        padding:0 !important;
    }
    .footer_info{
        gap:64px;
        flex-direction:column !important;
        align-items:flex-start !important;
        padding:0 !important;
    }
    .credits{
        display:none !important;
    }
    // footer{
    //     // padding-bottom:0 !important;
    // }
    .email_lg{
        overflow: visible !important;
        position:absolute;
        left:0;
        width: 110vw!important;
        padding-top:8px;
    }
    .dump_items{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    .dump_card {
        max-width:100% !important;
        .cover_container {
            height: auto;
        }
    }
    .casestudy{
        section{
            width:100%;
        }
        .casestudy_billboardtext, .casestudy_subheader{
            width:100%;
        }
        .iconbtn{
            position: relative;
            align-self:flex-start;
            margin:-8px;
            display: none;
        }
        .casestudy_info_metadata{
            // flex-direction:column;
            gap:32px;
            align-items: flex-end;
        }
    }
    .back-to-top{
        flex-direction:column;
        gap:32px;
        h1{
            max-width:none;
            width:100%;
        }
    }
    .page_404{
        height:100vh;
        display:flex;
        flex-direction:column;
        gap:16px;
        margin:auto;
        padding:0 10vw;
        align-items:center;
        justify-content: center;
        &::before{
            content:'';
            width:100%;
            top:0;
            height:128px;
            background:white;;
            position:fixed;
            z-index:9999;
        }
        p:nth-child(1){
            opacity:0;
            animation: 1s cubic-bezier(.5, 0.5, 0, 1) .6s forwards opacity;
        }
        .page_404_container{
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            margin: 0 auto;
            gap: 24px;
            // justify-content: space-between;
        }
        span{
            overflow:hidden;
            height: 240px;
        }
        h1{
            font-size:256px;
            line-height:100%;
            transform: translateY(100%);
            animation: .6s cubic-bezier(1, 0.5, 0, 1) forwards glide-in;
        }
        span:nth-of-type(2) h1{
            animation: 1.2s cubic-bezier(.5, 0.5, 0, 1) .0625s forwards glide-in;
            transform: translateY(100%);
        }
        span ~ div{
            width:160px;
            // font-weight:300;
            margin:auto 0;
            height:200px;
            background-color: #000000;
            overflow: hidden;
            border-radius:24px;
        }
        button{
            opacity:0;
            animation: 1s cubic-bezier(.5, 0.5, 0, 1) .6s forwards opacity;
        }
        img{
            // display:none;
            // object-fit:contain;
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter:invert(1);
            pointer-events: none;
        }
    }
}


// stop growing screen from 2000px